@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron container-fluid" id="Jumbotron">
    <div class="flex-box">
        <h1 class="flex-item">Ranch Life</h1>
        <h3 class="flex-item">When you want to get away</h3>
        <p class="flex-item"><a href="~/Reviews/Index" class="btn btn-lg">Learn more</a></p>
    </div>
</div>


<section class="container">
    <div class="row homeRow">
        <h3 class="text-center"> General Site Information </h3>
    </div>

    <div class="row reverseTheme homeRow">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/15419529_10211266292643339_2197658607895417352_o.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="caption">
                <h3>About Us</h3>
                <p>Sometimes the world looks perfect, nothing to rearrange. Sometimes you just, get a feeling like you need some kind of change. No matter what the odds are this time, nothing's going to stand in my way. This flame in my heart, and a long lost friend gives every dark street a light at the end. Standing tall, on the wings of my dream. Rise and fall, on the wings of my dream. The rain and thunder, the wind and haze. I'm bound for better days. It's my life and my dream, nothing's going to stop me now.</p>
                <p><a href="~/Reviews/Index" class="btn" role="button" sr-only="Check it out">Check It Out!</a></p>
            </div>
        </div>
    </div>

    <div class="row homeRow">
        <div class="col-md-8">
            <div class="caption">
                <h3>Reviews</h3>
                <p>"I could be in no more danger here," I said, "than naked and unarmed in the savage jungles or upon the lonely plains of Pellucidar. I was fortunate, I think, to return to Phutra at all. As it was I barely escaped death within the jaws of a huge sithic. No, I am sure that I am safer in the hands of intelligent creatures such as rule Phutra. At least such would be the case in my own world, where human beings like myself rule supreme. There the higher races of man extend protection and hospitality to the stranger within their gates, and being a stranger here I naturally assumed that a like courtesy would be accorded me."</p>
                <p><a href="~/Reviews/Index" class="btn" role="button" sr-only="Reserve Now">See Now!</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/15390993_10211266286723191_2483252566335333178_n.jpg" />
            </div>
        </div>
    </div>

    <div class="row reverseTheme homeRow">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/Cake Truck_426.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="caption">
                <h3>Types of Ranches</h3>
                <p>Sometimes the world looks perfect, nothing to rearrange. Sometimes you just, get a feeling like you need some kind of change. No matter what the odds are this time, nothing's going to stand in my way. This flame in my heart, and a long lost friend gives every dark street a light at the end. Standing tall, on the wings of my dream. Rise and fall, on the wings of my dream. The rain and thunder, the wind and haze. I'm bound for better days. It's my life and my dream, nothing's going to stop me now.</p>
                <p><a href="~/Categories/Index" class="btn" role="button" sr-only="Check it out">Check It Out!</a></p>
            </div>
        </div>
    </div>

    <div class="row homeRow">
        <div class="col-md-8">
            <div class="caption">
                <h3>Locations</h3>
                <p>Center Alley worse jester pore ladle gull hoe lift wetter stop-murder an toe heft-cisterns. Daze worming war furry wicket an shellfish parsons, spatially dole stop-murder, hoe dint lack Center Alley an, infect, word orphan traitor pore gull mar lichen ammonol dinner hormone bang. Oily inner moaning disk wicket oiled worming shorted, "Center Alley, gad otter bet, an goiter wark! Suture lacy ladle bomb! Shaker lake!" an firm moaning tell gnat disk ratchet gull word heifer wark lacquer hearse toe kipper horsing ardor, washer heft-cistern's closing, maker bets, gore tutor star fur perversions, cooker males, washer dashes an doe oily udder hoard wark. Nor wander pore Center Alley worse tarred an disgorged!</p>
                <p><a href="~/Locations/Index" class="btn" role="button" sr-only="Join us">View All!</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/Cake Truck_160.jpg" />
            </div>
        </div>
    </div>
</section>
